<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="adminNavigation">
    <ul>
    <li sec:authorize="hasRole('ROLE_ADMIN')">
        <ul class="nav--actions">
            <li  class="logged-user">
                <div>Użytkownicy</div>
                <ul class="dropdown">
                    <li><a th:href="@{/admin/usersList}">Wyświetl liste</a></li>
                    <li><a th:href="@{/admin/usersCreation}">Stwórz Użytkownika</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li sec:authorize="hasRole('ROLE_ADMIN')">
        <ul class="nav--actions">
            <li  class="logged-user">
                <div>Dotacje</div>
                <ul class="dropdown">
                    <li><a th:href="@{/admin/dotationsList}">Wyświetl liste</a></li>
                    <li><a th:href="@{/admin/dotationsCreation}">Dodaj Donacje</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li sec:authorize="hasRole('ROLE_ADMIN')">
        <ul class="nav--actions">
            <li  class="logged-user">
                <div>Kategorie</div>
                <ul class="dropdown">
                    <li><a th:href="@{/admin/categoryList}">Wyświetl liste</a></li>
                    <li><a th:href="@{/admin/categoryCreation}">Dodaj Kategorie</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li sec:authorize="hasRole('ROLE_ADMIN')">
        <ul class="nav--actions">
            <li  class="logged-user">
                <div>Fundacje</div>
                <ul class="dropdown">
                    <li><a th:href="@{/institution}">Wyświetl liste</a></li>
                    <li><a th:href="@{/admin/formInstitution}">Dodaj fundacje</a></li>
                </ul>
            </li>
        </ul>
    </li>
    </ul>
</div>
</body>
</html>