<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <ul>
        <li><a th:href="@{/logged/form}" class="btn btn--without-border active">Start</a></li>
        <li><a th:href="@{/index}" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a th:href="@{/index}" class="btn btn--without-border">O nas</a></li>
        <li><a th:href="@{/institution}" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a th:href="@{/contact}" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</div>
</body>
</html>


