<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

  </head>
  <body>
    <header>
      <nav class="container container--70">
        <span th:include="fragments/loggedOrNot :: loggedOrNot"></span>

        <span th:include="fragments/header :: header"></span>
      </nav>
    </header>

    <section class="login-page">
      <h2> Wyglada na to że nie masz dostępu do tej częsci portalu</h2>
    </section>

    <footer>
      <span th:include="fragments/footer :: footer"></span>
      </footer>
  </body>
</html>
