<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header class="header--form-page">
      <nav class="container container--70">
        <span th:include="fragments/loggedOrNot :: loggedOrNot"></span>

        <span th:include="fragments/header :: header"></span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
        <br/><br/><br/><br/>
        <div  style="font-weight: bold;font-size: 20px">Panel Admina</div>
        <span th:include="fragments/adminNavigation :: adminNavigation"></span>
        </span>
      </nav>

      <div class="slogan container container--90" style="display: block">
          <h2>
            Dane Kontaktowe<br/><br/>
          </h2>
        <br/><br/>
        <div style="display: block;text-align: center">
        <h3 style="font-size: 16px">
            <span class="hovery">al. Mińska 34</span><br/><br/>
          <span class="hovery">Białystok 77-777</span><br/><br/>
           <span class="hovery"> Numer telefonu: 666-777-666</span><br/><br/>
           <span class="hovery"> E-mail: Niebioska@gmail.com</span>
            <br/><br/>
        </h3>
        <br/><br/><br/><br/>
        <h4 style="font-size: 13px">
          Lub skontaktuj sie znami za pomocą poniższego formularza!
        <br/><br/>  <span style="font-weight: bold"><a class="hovery" style="cursor: pointer" th:href="@{/index}">Wróc do strony głównej</a></span>
        </h4>
        </div>
      </div>
    </header>


    <footer>
      <span th:include="fragments/footer :: footer"></span>
    </footer>

<!--    <script src="js/app.js"></script>-->
  </body>
</html>
