<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{app.title}">Document</title>
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" th:src= "@{/js/jquery.scrollTo.min.js}"></script>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <script>
        jQuery(function($){

            $('#link0').click(function() {$.scrollTo($('#whatsGoingOn'),500);})
            $('#link1').click(function() {$.scrollTo($('#aboutUs'),500);})
        });
    </script>
</head>
<body>
<header class="header--main-page">
    <nav class="container container--70">
        <span th:include="fragments/loggedOrNot :: loggedOrNot"></span>

        <span th:include="fragments/header :: header"></span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
        <br/><br/><br/><br/>
        <div th:text="#{app.logged.a3}" style="font-weight: bold;font-size: 20px">Panel Admina</div>
        <span th:include="fragments/adminNavigation :: adminNavigation"></span>
        </span>
    </nav>

    <div class="slogan container container--90" >
        <div class="slogan--item">
            <h1 style="white-space: pre-wrap" th:text="#{app.index.h1}">
<!--                Zacznij pomagać!<br/>-->
<!--                Oddaj niechciane rzeczy w zaufane ręce-->
            </h1>
        </div>
    </div>
</header>

<section class="stats" id="whatsGoingOn">
    <div class="container container--85">
        <div class="stats--item">
            <em th:text="${sumOfDonation}" ></em>

            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3a}">Oddanych worków</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p1}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                tempora!</p>
        </div>

        <div class="stats--item">
            <em th:text="${qtyOfDonation}"></em>
            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3b}">Przekazanych darów</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p2}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas
                quam.</p>
        </div>

    </div>
</section>

<section class="steps">
    <h2 style="white-space: pre-wrap" th:text="#{app.index.h2a}">Wystarczą 4 proste kroki</h2>

    <div class="steps--container">
        <div class="steps--item">
            <span class="icon icon--hands"></span>
            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3c}">Wybierz rzeczy</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p3}">ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--arrow"></span>
            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3d}">Spakuj je</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p4}">skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--glasses"></span>
            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3e}">Zdecyduj komu chcesz pomóc</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p5}">wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--courier"></span>
            <h3 style="white-space: pre-wrap" th:text="#{app.index.h3f}">Zamów kuriera</h3>
            <p style="white-space: pre-wrap" th:text="#{app.index.h3p6}">kurier przyjedzie w dogodnym terminie</p>
        </div>
    </div>

    <a style="white-space: pre-wrap" th:text="#{app.index.a1}" th:href="@{/register}" class="btn btn--large">Załóż konto</a>
</section>

<section class="about-us" id="aboutUs">
    <div class="about-us--text">
        <h2 style="white-space: pre-wrap" th:text="#{app.index.h2b}">O nas</h2>
        <p style="white-space: pre-wrap" th:text="#{app.index.h2p2}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero
            optio esse quisquam illo omnis.</p>
        <img th:src="@{/images/signature.svg}" class="about-us--text-signature" alt="Signature"/>
    </div>
    <div class="about-us--image"><img th:src="@{/images/about-us.jpg}"  alt="People in circle"/>
    </div>
</section>

<section class="help">
    <h2 style="white-space: pre-wrap" th:text="#{app.index.h2c}">Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p style="white-space: pre-wrap" th:text="#{app.index.h2p3}">W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items" style="float: left;text-align: left">
            <li th:each="institutionsOdd: ${institutionsOdd}">
                <div style="float: left;text-align: left" class="col">
                    <div  th:text="${institutionsOdd.name}" class="title"></div>
                    <div  th:text="${institutionsOdd.description}" class="subtitle"></div>
                </div>
            </li>
        </ul>
        <ul class="help--slides-items" style="float: right;text-align: right;">
            <li  th:each="institutionsEven: ${institutionsEven}">
                <div  style="float: right;text-align: right" class="col1">
                    <div  th:text="${institutionsEven.name}" class="title"></div>
                    <div  th:text="${institutionsEven.description}" class="subtitle"></div>
                </div>
            </li>
        </ul>

    </div>

</section>


    <footer th:include="fragments/footer :: footer"></footer>

<!--<script type="text/javascript" th:src= "@{/js/app.js}"></script>-->
</body>
</html>
