<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

  </head>
  <body onload="migmig()">
    <header>
      <nav class="container container--70">
        <span th:include="fragments/loggedOrNot :: loggedOrNot"></span>

        <span th:include="fragments/header :: header"></span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
        <br/><br/><br/><br/>
        <div  style="font-weight: bold;font-size: 20px">Panel Admina</div>
        <span th:include="fragments/adminNavigation :: adminNavigation"></span>
        </span>
      </nav>
    </header>

    <section class="login-page">
      <h2 th:text="'Hej '+ ${username} + ' ,poniżej znajdziesz informację dotyczące Fundacji z którymi współpracujemy'"> </h2>
    </section>

    <div style="text-align: center;background-color: #00BCD4;border-radius: 3px">
      <div style="color: black;text-align: center;font-size: 20px;font-weight: bold;" th:text="'Lista fundacji'"></div><br/><br/>
      <table  style="color: black;text-align: left;width:100%;border: solid 1px;">
        <tr style="border: solid 1px">
          <th class="tables">Nazwa Fundacji</th>
          <th class="tables">Opis</th>
          <th  sec:authorize="hasRole('ROLE_ADMIN')" class="tables">Stworzona</th>
          <th  sec:authorize="hasRole('ROLE_ADMIN')" class="tables">Ostatnia aktualizacja</th>
          <th  sec:authorize="hasRole('ROLE_ADMIN')" class="tables">Aktualizacja przez</th>
          <th sec:authorize="hasRole('ROLE_ADMIN')" class="tables">Status</th>
          <th sec:authorize="hasRole('ROLE_ADMIN')" class="tables" id="changeStatus">Zmien Status</th>
          <th sec:authorize="hasRole('ROLE_ADMIN')" class="tables" id="delete">Usuń</th>
        </tr>
        <tr style="border: solid 1px" th:each="institutionList: ${institutions}">
          <td  sec:authorize="hasRole('ROLE_ADMIN')" style="cursor: pointer" title="Naciśnij żeby sprawdzić szczegóły i móc edytować" class="tables" >
            <a  th:href="@{/admin/editInstitution/{id}(id=${institutionList.id})}"><div th:text="${institutionList.name}"></div></a>
          </td>
          <td th:if="${institutionList.active == true}"  sec:authorize="!hasRole('ROLE_ADMIN')" class="tables" th:text="${institutionList.name}"></td>
          <td th:if="${institutionList.active == true}" sec:authorize="isAnonymous()" class="tables" th:text="${institutionList.name}"></td>
          <td th:if="${institutionList.active == true}" sec:authorize="!hasRole('ROLE_ADMIN')" class="tables" th:text="${institutionList.description}"></td>
          <td sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="${institutionList.description}"></td>
          <td  sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="*{#strings.replace(#strings.substring(institutionList.created,0,19),'T',' ')}"></td>
          <td  sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="*{#strings.replace(#strings.substring(institutionList.last_update,0,19),'T',' ')}"></td>
          <td  sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="${institutionList.changeBy}"></td>
          <td sec:authorize="hasRole('ROLE_ADMIN')" th:switch="${institutionList.active}"  class="tables">
            <span th:case="true" th:text="'Aktywna'"></span>
            <span th:case="false" th:text="'Nie aktywna'"></span>
            <span th:case="*" th:text="Nieznany"></span>
          </td>
          <td sec:authorize="hasRole('ROLE_ADMIN')" th:switch="${institutionList.active}"  class="tables">
            <a th:href="@{/admin/institution/deactivate/{id}(id=${institutionList.id})}"><span th:case="true" th:text="'Nie aktywna'" style="color: red;cursor: pointer;font-weight: bold"></span></a>
            <a th:href="@{/admin/institution/activate/{id}(id=${institutionList.id})}"><span th:case="false" th:text="'Aktywna'" style="color: lightgreen;cursor: pointer;font-weight: bold"></span></a>
          </td>
          <td  sec:authorize="hasRole('ROLE_ADMIN')" title="Are you sure?" class="tables" style="color: #3c3c3c;cursor: pointer;font-weight: bold">
            <a th:href="@{/admin/institution/delete/{id}(id=${institutionList.id})}"><span th:text="'Usuń'"></span></a>
          </td>
        </tr>
      </table>
      <br/>
      <a th:href="@{/admin/formInstitution}"><button style="cursor:pointer;font-size: 20px;font-weight: bold;margin-left: 87%">Dodaj Fundacje</button></a>
    </div><br/><br/>

    <footer>
      <span th:include="fragments/footer :: footer"></span>
      </footer>
    <script type="text/javascript">
      function migmig() {
        setTimeout(function (){
          migmig().fadeIn(5000)},5000)

        setTimeout(function changeStatus() {
          $("#changeStatus").fadeOut(3000);
          $("#delete").fadeOut(3000);
        }, 3000)
        $("#changeStatus").fadeIn(3000)
        $("#delete").fadeIn(3000)
        }
  </script>
  </body>
</html>
